/* || RESET */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

/* || GENERAL STYLES */

body{
    min-width: 100vh;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    text-align: center;
    color:darkgreen;
    padding: 2em;
}

main{
    max-width: 50%;
    border: 1px solid black;
    margin:0 auto;
}

/* || SPECIFIC STYLES */

.principal{
    display: flex;
}

h3{
    text-align: center;
    color: darkgreen;
}

.imgList{
    list-style: none;
    margin-left: 2em;
}

li{
    margin: 0.5em;
}

.imgPrincipal{
    margin: 0.5em 0;

}

.imgPrincipal img{
    height: 100%;

}